.hide {
    display: none;
}

.show {
    display: flex;
}

.shadow {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 60%);
    position: absolute;
    top: 0;
    left: 0;
}

.dropDown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
    background: #262626;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.topAnim {
    animation: top 750ms ease;
    -webkit-animation: top 750ms ease;
}

.closeAnim {
    animation: close 750ms ease;
    -webkit-animation: close 750ms ease;
}

.bottomAnim {
    animation: bottom 750ms ease;
    -webkit-animation: bottom 750ms ease;
}

.addButton {
    background-image: url("../../Images/image.png");
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
}

.addButton:hover {
    border: 1px #fff solid;
}

@media (width <= 1024px) {
    .dropDown {
        width: 60%;
    }
}

@media (width <= 768px) {
    .dropDown {
        width: 80%;
    }
}

@keyframes top {
    0% {
      transform: translate(0, -25vh);
      -webkit-transform: translate(0, -25vh);
      -moz-transform: translate(0, -25vh);
      -ms-transform: translate(0, -25vh);
      -o-transform: translate(0, -25vh);
    }
    100% {
      transform: translate(0, 0vh);
      -webkit-transform: translate(0, 0vh);
      -moz-transform: translate(0, 0vh);
      -ms-transform: translate(0, 0vh);
      -o-transform: translate(0, 0vh);
    }
}

@keyframes close {
    0% {
        transform: scale(100%);
        -webkit-transform: scale(100%);
        -moz-transform: scale(100%);
        -ms-transform: scale(100%);
        -o-transform: scale(100%);
}
    100% {
        transform: scale(0%);
        -webkit-transform: scale(0%);
        -moz-transform: scale(0%);
        -ms-transform: scale(0%);
        -o-transform: scale(0%);
}
}

@keyframes bottom {
    0% {
        transform: translate(0, 25vh);
        -webkit-transform: translate(0, 25vh);
        -moz-transform: translate(0, 25vh);
        -ms-transform: translate(0, 25vh);
        -o-transform: translate(0, 25vh);
}
    100% {
        transform: translate(0, 0vh);
        -webkit-transform: translate(0, 0vh);
        -moz-transform: translate(0, 0vh);
        -ms-transform: translate(0, 0vh);
        -o-transform: translate(0, 0vh);
}
}
