.button:hover {
    animation: gradient 200ms ease 1;
    -webkit-animation: gradient 200ms ease 1;
}

@keyframes gradient {
    25% {
        transform: translate(5px);
        -webkit-transform: translate(5px);
        -moz-transform: translate(5px);
        -ms-transform: translate(5px);
        -o-transform: translate(5px);
    }

    75% {
        transform: translate(-5px);
        -webkit-transform: translate(-5px);
        -moz-transform: translate(-5px);
        -ms-transform: translate(-5px);
        -o-transform: translate(-5px);
    }
}
