#root {
    background: linear-gradient(-45deg, #262626, #000);
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

button {
    transition: 250ms;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
}

button:active {
    opacity: 70%;
}

button:visited {
    opacity: 100%;
}

.section {
    width: 100%;
    text-align: center;
}

.TopCircle {
    position: relative;
    overflow: hidden;
    height: 40vh;
}

.taskArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.BottomCircle {
    position: relative;
    overflow: hidden;
    height: 20vh;
}