#root {
    background: linear-gradient(-45deg, #262626, #000);
    font-family: sans-serif;
    overflow: hidden;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

button {
    transition: 250ms;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
}

button:active {
    opacity: 70%;
}

button:visited {
    opacity: 100%;
}

section {
    width: 100%;
    text-align: center;
}

.circle {
    position: relative;
    overflow: hidden;
}

.TopCircle {
    height: 40%;
}

.BottomCircle {
    height: 20%;
}

.taskArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}