.xLarge {
    font-size: 64px;
}

.large {
    font-size: 32px;
}

.medium {
    font-size: 24px;
}

.small {
    font-size: 16px;
}

@media (width <= 768px) {
    .large {
        font-size: 24px;
    }

    .medium {
        font-size: 14px;
    }
}

@media (width <= 425px) {
    .xLarge {
        font-size: 48px;
    }

    .small {
        font-size: 14px;
    }
}
