.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.input {
    color: #fff;
    background-color: rgba(38, 38, 38, 50%);
    box-sizing: border-box;
    width: 100%;
    padding: 3% 3%;
    margin: 5px 0;
    border: none;
    border-radius: 10px;
    transition: 300ms;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}

.input:focus {
    outline: none !important;
    border: 1px solid #fff;
}

.nameInput {
    font-size: 32px;
    height: 20%;
}

.descriptionInput {
    font-size: 18px;
    height: 60%;
    resize:none;
}

.save {
    background-color: #262626;
    font-size: 24px;
    height: 20%;
    width: 80%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

@media (width <= 768px) {
    .nameInput {
        font-size: 24px;
    }

    .descriptionInput {
        font-size: 12px;
    }

    .save {
        font-size: 14px;
    }
}
